# ==========================================
# KONFIGURASI SUPABASE DATABASE
# ==========================================
# Dapatkan kredensial ini dari:
# https://supabase.com -> Masuk ke Project Anda -> Settings -> API

# URL Project Supabase Anda (contoh: https://xyzcompany.supabase.co)
NEXT_PUBLIC_SUPABASE_URL=

# Anon Public Key (bisa diakses client)
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Service Role Secret (opsional, untuk bypass RLS di sisi server API jika diperlukan)
SUPABASE_SERVICE_ROLE_KEY=
